:root {
  --cell-dimensions: 25px;
  --cell-count: 4;
  --border-width: 1px;

  --color: black;
  --background-color: white;
  --border-color: black;

  --color-selected: black;
  --background-selected: khaki;

  --color-found: blue;
  --background-found: lightblue;

  --color-invalid: brown;
  --background-invalid: salmon;
}

:root .dark-mode {
  --color: gray;
  --background-color: black;
  --border-color: gray;

  --color-selected: gray;
  --background-selected: khaki;

  --color-found: blue;
  --background-found: lightblue;

  --color-invalid: brown;
  --background-invalid: salmon;
}

body {
  color: var(--color);
  background-color: var(--background-color);
}

.container {
}

.game {
  display: flex;
  justify-content: center;
}

.header {
  color: green;
}

.board {
  user-select: none;
  border-style: solid;
  border-color: var(--border-color);
  border-width: var(--border-width) 0 0 var(--border-width);
  width: calc((var(--cell-count) * var(--cell-dimensions)));
}

.cell {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 0 var(--border-width) var(--border-width) 0;
  display: inline-block;
  height: calc(var(--cell-dimensions) - var(--border-width));
  width: calc(var(--cell-dimensions) - var(--border-width));
  text-align: center;
  text-transform: uppercase;
  line-height: calc(var(--cell-dimensions));
}

.cell.found {
  color: var(--color-found);
  background-color: var(--background-found);
}

.cell.selected {
  color: var(--color-selected);
  background-color: var(--background-selected);
}

.cell.invalid {
  color: var(--color-invalid);
  background-color: var(--background-invalid);
}

/* prettier-ignore */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
}

.cell.invalid .letter {
  display: inline-block;
  position: relative;
  animation: shake 0.5s linear;
}

.word-list {
  columns: 2;
}

.word-list li {
  margin-right: 10px;
}

.word-list > .found {
  text-decoration: line-through;
}
