:root {
  --grid-xmax: 15;
  --grid-ymax: 15;

  --color: black;
  --background-color: white;
  --border-color: black;

  --color-selected: black;
  --background-selected: khaki;

  --color-found: blue;
  --background-found: lightblue;

  --color-invalid: brown;
  --background-invalid: salmon;
}

:root .dark-mode {
  --color: gray;
  --background-color: black;
  --border-color: gray;

  --color-selected: gray;
  --background-selected: khaki;

  --color-found: blue;
  --background-found: lightblue;

  --color-invalid: brown;
  --background-invalid: salmon;
}

body {
  padding: 0;
  margin: 0;
  color: var(--color);
  background-color: var(--background-color);
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.game {
  display: flex;
  flex-direction: column;
}

.header {
  display: none;
}

.menu {
  text-align: right;
}

.button {
  width: 4rem;
  height: 2rem;
  margin: 0.25rem;
  display: inline-block;
  text-align: center;
  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.board {
  position: relative;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(var(--grid-xmax), 1fr);
  grid-template-rows: repeat(var(--grid-ymax), 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
}

.overlay {
  position: absolute;
  border-radius: 100px;
  z-index: -1;
}

.overlay.invalid {
  border: 1px solid var(--color-invalid);
  background-color: var(--background-invalid);
}

.overlay.selected {
  border: 1px solid var(--color-selected);
  background-color: var(--background-selected);
}

.overlay.found {
  position: absolute;
  border: 1px solid var(--color-found);
  background-color: var(--background-found);
  border-radius: 100px;
  z-index: -1;
}

.cell {
  font-size: 2vw;
  padding: 0.05rem;
  text-transform: uppercase;
}

ul.word-list {
  margin: 0;
  padding: 0;
}

ul.word-list > li {
  display: inline;
}

ul.word-list > li > span {
  display: inline-block;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
  color: var(--color);
  background-color: var(--background-color);
  font: normal 1rem sans-serif;
}

ul.word-list > li > .cheat:hover {
  color: var(--color-cheat);
  background-color: var(--background-cheat);
}

.word-list > .found span {
  text-decoration: line-through;
}

form {
  display: inline-block;
}

.form-group {
  display: inline-block;
}

.form-group > input[type='number'] {
  width: 2.5rem;
}

.form-group > select,
.form-group > input[type='number'],
.form-group > label {
  margin-right: 0.5rem;
}
